﻿@using GestaoDeEquipamentos.ConsoleApp.Models;

@model CadastrarEquipamentoViewModel;

@{
	Layout = "_Layout";
	ViewBag.Titulo = "Cadastro de Equipamento";
}

<link href="~/formulario.css" rel="stylesheet" />

<div class="form-header">
    <a href="/equipamentos/visualizar" class="btn-voltar">
        <i class="bi bi-arrow-left"></i> Voltar
    </a>
</div>

<form action="/equipamentos/cadastrar" method="post" class="formulario-base">
    <div class="form-group">
        <label for="Nome">Nome do Equipamento</label>
        <input type="text" name="Nome" id="Nome" required />
    </div>

    <div class="form-group">
        <label for="PrecoAquisicao">Preço de Aquisição do Equipamento:</label>
        <input type="text" name="PrecoAquisicao" id="PrecoAquisicao" required />
    </div>

    <div class="form-group">
        <label for="DataFabricacao">Data de Fabricação do Equipamento:</label>
        <input type="date" name="DataFabricacao" id="DataFabricacao" required />
    </div>

    <div class="form-group">
        <label for="FabricanteId">Fabricante do Equipamento:</label>
        <select name="FabricanteId" id="FabricanteId" required>
            @foreach (var fabricante in Model.FabricantesDisponiveis)
            {
                <option value="@fabricante.Id">@fabricante.Nome</option>
            }
        </select>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn-salvar">Gravar</button>
    </div>
</form>
