@{
    Layout = "_Layout";
    ViewBag.Titulo = "Página Inicial";
}

<link href="~/listas.css" rel="stylesheet" />

<div class="lista-secao">
    <a href="/fabricantes/visualizar" class="lista-item">
        <img src="~/Imagens/fabricantes.jpg" alt="Fabricantes" class="lista-imagem" />
        <div class="lista-conteudo">
            <h3 class="lista-titulo">Fabricantes</h3>
            <p class="lista-descricao">Gerencie os Fabricantes de Equipamentos</p>
        </div>
        <i class="bi bi-chevron-right lista-icone"></i>
    </a>

    <a href="/equipamentos/visualizar" class="lista-item">
        <img src="~/Imagens/equipamentos.jpg" alt="Equipamentos" class="lista-imagem" />
        <div class="lista-conteudo">
            <h3 class="lista-titulo">Equipamentos</h3>
            <p class="lista-descricao">Gerencie os Equipamentos</p>
        </div>
        <i class="bi bi-chevron-right lista-icone"></i>
    </a>

    <a href="/chamados/visualizar" class="lista-item">
        <img src="~/Imagens/chamados.jpg" alt="Chamados" class="lista-imagem" />
        <div class="lista-conteudo">
            <h3 class="lista-titulo">Chamados</h3>
            <p class="lista-descricao">Gerencie os Chamados de Manutenção</p>
        </div>
        <i class="bi bi-chevron-right lista-icone"></i>
    </a>
</div>
